<div class="carousel">
  <div class="group">
    <div class="card">
      <img src="../assets/images/Csharp.png" alt="" />
    </div>
    <div class="card"><img src="../assets/images/postgresql.png" alt="" /></div>
    <div class="card"><img src="../assets/images/python.png" alt="" /></div>
    <div class="card"><img src="../assets/images/docker.png" alt="" /></div>
    <div class="card"><img src="../assets/images/HTML5.png" alt="" /></div>
    <div class="card"><img src="../assets/images/CSS3.png" alt="" /></div>
    <div class="card"><img src="../assets/images/javascript.png" alt="" /></div>
    <div class="card">
      <img src="../assets/images/Tailwind CSS.png" alt="" />
    </div>
    <div class="card"><img src="../assets/images/Postman.png" alt="" /></div>
  </div>
  <div aria-hidden class="group">
    <div class="card">
      <img src="../assets/images/Csharp.png" alt="" />
    </div>
    <div class="card"><img src="../assets/images/postgresql.png" alt="" /></div>
    <div class="card"><img src="../assets/images/python.png" alt="" /></div>
    <div class="card"><img src="../assets/images/docker.png" alt="" /></div>
    e
    <div class="card"><img src="../assets/images/HTML5.png" alt="" /></div>
    <div class="card"><img src="../assets/images/CSS3.png" alt="" /></div>
    <div class="card"><img src="../assets/images/javascript.png" alt="" /></div>
    <div class="card">
      <img src="../assets/images/Tailwind CSS.png" alt="" />
    </div>
    <div class="card"><img src="../assets/images/Postman.png" alt="" /></div>
  </div>
</div>
