<div class="carousel">
  <div class="group">
    <div class="card">
      <img src="assets/images/Csharp.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/postgresql.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/python.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/docker.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/HTML5.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/CSS3.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/javascript.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/Tailwind CSS.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/Postman.png" alt="" loading="lazy" />
    </div>
  </div>
  <div aria-hidden class="group">
    <div class="card">
      <img src="assets/images/Csharp.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/postgresql.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/python.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/docker.png" alt="" loading="lazy" />
    </div>

    <div class="card">
      <img src="assets/images/HTML5.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/CSS3.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/javascript.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/Tailwind CSS.png" alt="" loading="lazy" />
    </div>
    <div class="card">
      <img src="assets/images/Postman.png" alt="" loading="lazy" />
    </div>
  </div>
</div>
