.carousel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background:#d2f4f9;
    font-size: 3em;
    border-radius: .2em;    
    text-align: center;
    align-content: center;
    

}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}